#ignore all simulation outputs
*verilog/simulation/*
*verilog/*.lx2
*verilog/*.vcd

#ignore all compiled files
*testCode/*.hex
*testCode/assemblyTest/*.hex
*testCode/c_Code/*.hex
*testCode/c_Code/*.asm

#Ignore all synthesized files
*verilog/qflowSynthesis/*
*qflowSynthesis/*
verilog/qflowSynthesis/
qflowSynthesis/

#ignore pycache
*pythonScripts/*/__pycache__/*